a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
img {
  display: block;
}

button {
  cursor: pointer;
}
body {
  font-family: "Poppins", serif;
  background-color: #fff;
  color: #22343d;
}
.header {

}

.container{
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
.header-container{
display: flex;
align-items: center;
}

.nav{
  display: flex;
}
.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  display: flex;
  gap: 16px;
  align-items: center;
  margin-right: 237px;
}

.nav-list {
  display: flex;
  gap: 30px;
}

.nav-link {
  line-height: 1.75;
  padding: 26px 0;
  display: block;
}
.current {
  font-weight: 600;
}

.header-list-btn {
  display: flex;
  margin-left: auto;
  gap: 21px;
}

.header-btn {
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
}
.header-btn-in {
  color: #173a56;
  background-color: transparent;
  border: 1px solid #bcd0e5;
  min-width: 105px;
  height: 42px;
}
.header-btn-up {
  color: #fff;
  background-color: #02897a;
  border: none;
  min-width: 113px;
    height: 42px;
}
/* hero*/
.hero {
  padding-top: 25px;
  padding-bottom: 50px;
}
.hero .container{
  display: flex;
  align-items: center;
}
.hero-text-wrap{
width: 465px;
margin-right: 35px;
}
.hero-title {
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 18px;
  width: 420px;
}

.hero-text {
  font-size: 18px;
  line-height: 1.55556;
  margin-bottom: 45px;
}

.hero-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.hero-btn {
  font-size: 16px;
}
.hero-btn-start {
  font-weight: 700;
  color: #fff;
  background-color: #02897a;
  border-radius: 4px;
  border: none;
  min-width: 178px;
    height: 53px;
}
.hero-btn-start:hover,
.hero-btn-start:focus {
  background-color: azure;
  color: #173a56;
}

.hero-btn-watch {
  font-weight: 600;
  text-decoration: underline;
  color: #02897a;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
}
.hero-icon{
  fill: #02897a;

}
/* product */
.product {
  padding: 50px 0;
}

.product-title {
  font-size: 32px;
  text-align: center;
  width: 535px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.product-list {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.product-item {
  width: calc((100% - 90px) / 4);
}
.product-item-wrap {
  border-radius: 19px;
    width: 54px;
    height: 54px;
    background: #02897a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 26px;
}
.product-item-wrap-second{
background: #4d8dff;
}
.product-item-wrap-third{
background: #740a76;
}
.product-item-wrap-four{
background: #f03e3d;
}
.product-icon {
  fill: #fff;
}

.product-subtitle {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 13px;
}

.product-text {
  line-height: 1.625;
}

.product-btn {
  background-color: #02897a;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  min-width: 175px;
    height: 53px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.product-btn:hover,
.product-btn:focus {
  background-color: #173a56;
}
/*managment*/
.management {
  padding: 50px 0;
}
.management .container{
  display: flex;
  align-items: center;
}
.management-text-wrap{
  width: 486px;
margin-right: 84px;
}
.management-title {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 25px;
}
.managment-title-part {
  font-weight: 700;
  font-size: 32px;
}

.managment-text {
  line-height: 1.625;
  margin-bottom: 30px;
}

.managment-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.managment-item {
}

.managment-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 12px;
}

.managment-desk {
  line-height: 1.625;
}
/*  Customers*/
.customers {
  padding: 50px 0;
}
.customers .container{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.customers-text-wrap{
  width: 450px;
}
.customers-title {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 25px;
}

.customers-title-part {
  font-weight: 700;
  font-size: 32px;
}

.customers-text {
  line-height: 1.625;
  margin-bottom: 30px;
}

.customers-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.customers-item {
}

.customers-desc {
  line-height: 1.625;
}
/* optimisation */
.optimisation {
  padding-top: 50px;
  padding-bottom: 75px;
}
.optimisation .container{
  display: flex;
  align-items: center;
  
}
.optimisation-text-wrap{
width: 486px;
margin-right: 84px;
}
.optimisation-title {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 25px;
}

.optimisation-title-part {
  font-weight: 700;
  font-size: 32px;
}

.optimisation-text {
  line-height: 1.625;
  margin-bottom: 30px;
}

.optimisation-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.optimisation-item {
}
.optimisation-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 12px;
}

.optimisation-desc {
  line-height: 1.625;
}
/* process */
.process {
}

.process-title {
  font-size: 32px;
  text-align: center;
}

.process-text {
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
}

.process-list {
}

.process-item {
}

.process-desc {
  font-weight: 500;
  text-align: center;
  color: #2f281e;
}

.process-btn {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  background-color: #02897a;
  border: none;
}
.process-btn:hover,
.process-btn:focus {
  background-color: #173a56;
}
/* content */
.content {
}

.content-title {
  font-size: 34px;
}

.content-text {
  font-weight: 500;

  line-height: 1.62;
}

.content-list {
}

.content-item {
}

.content-desc {
  line-height: 1.75;
}

.content-desk-part {
  font-weight: 700;
}

.content-subtitle {
  font-size: 24px;
  line-height: 1.66667;
}
.content-subtitle-current {
  color: #02897a;
}
.content-item:hover > .content-subtitle {
  color: #02897a;
}
/* price */
.price {
}

.price-title {
  font-size: 34px;
}

.price-text {
}

.price-list {
}

.price-item {
  width: 322px;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}

.price-subtitle {
  font-size: 24px;
}

.price-desc {
  font-family: "Montserrat", sans-serif;
  line-height: 2.5;
}

.price-num {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.31579;
  letter-spacing: 0em;
  color: #02897a;
}

.price-currency {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
}

.price-period {
  font-family: "Montserrat", sans-serif;
  line-height: 1.1875;
  letter-spacing: 0.01em;
  color: #afafaf;
}

.price-service-list {
}

.price-service-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.375;
  letter-spacing: 0.01em;
}

.price-btn {
  background-color: #02897a;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border: none;
}
.price-item-second {
  color: #fff;
  background-color: #02897a;
}
.price-num-second {
  color: #fff;
}
.price-currency-second {
  color: #fff;
}
.price-btn-second {
  background-color: #fff;
  color: #02897a;
}
/* clients */
.clients {
}

.clients-title {
  font-size: 32px;
  line-height: 1.78125;
  letter-spacing: 0.01em;
  text-align: center;
}

.clients-text {
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.01em;
  text-align: center;
}

.clients-list {
}

.clients-desc {
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #737373;
}

.clients-subtitle {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}

.clients-description {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.01em;
}
/* promo */
.promo {
  background-color: #02897a;
}

.promo-text {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.514;
  color: #fff;
}

.prono-btn {
  background-color: #fff;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 20px;
  color: #22343d;
}
.prono-btn:hover,
.prono-btn:focus{
  background-color:#173a56;
    color:#fff;
}

/* footer */
.footer {
}

.footer-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
}

.footer-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}

.footer-list {
}

.footer-link {
  line-height: 2.1875;
}

.footer-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}

.footer-btn {
  background-color: #02897a;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.footer-desc {
  line-height: 1.875;
}
/* Clients */
.clients {
}

.clients-title {
  font-size: 40px;
}
.advantages {}

.advantages-title {
  font-size: 34px;
    text-align: center;
}

.advantages-list {}

.advantages-item {}

.advantages-subtitle {
  font-size: 24px;
    line-height: 1.375;
    text-align: center;
}

.advantages-text {
  line-height: 1.6875;
    letter-spacing: 0.01em;
    text-align: center;
}
.howwork {}

.howwork-title {
  font-size: 34px;
    text-align: center;
}

.howwork-list {}

.howwork-item {}

.howwork-part {
  font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.howwork-subtitle {
  font-weight: 600;
    font-size: 24px;
    text-align: center
}

.howwork-text {
  line-height: 1.75;
}

.howwork-btn{
  border-radius: 8px;
  background: #02897a;
  font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border:none;
}
.howwork-btn:hover,
.howwork-btn:focus {
  background-color: azure;
  color: #173a56;
}
.offers {}

.offers-title {
  font-size: 32px;
    text-align: center;
}

.offers-subtitle {
  font-weight: 500;
    font-size: 24px;
    line-height: 1.16667;
    color: #000;
}
.offers-text{
  font-size: 18px;
    line-height: 1.77778;
    text-align: center;
}
.offers-list {}

.offers-iteam {}

.offers-desk {
  font-weight: 500;
  line-height: 1.75;
    color: #000;
}
.enterprise {}

.enterprise-title {
  font-weight: 600;
    font-size: 24px;
}

.enterprise-subtitle {
  font-weight: 700;
    font-size: 34px;
}

.enterprise-text {
  font-size: 18px;
}

.enterprise-btn {
  background: #02897a;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}
.enterprise-btn:hover,
.enterprise-btn:focus {
  background-color: azure;
  color: #173a56;
}
.effects {}

.effects-title {
  font-size: 34px;
}

.effects-list {}

.effects-item {}

.effects-subtitle {
  font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.effects-text {
  line-height: 1.75;
}
.questions {}

.questions-title {
  font-size: 34px;
}

.questions-text {
  font-size: 18px;
}

.questions-list {}

.questions-item {}

.questions-subtitle {
  font-weight: 500;
    font-size: 18px;
}

.questions-desk {}